@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: linear-gradient(to right, #32CD32, #e84393), url('rosaneon2.jfif') fixed;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    color: #32CD32;
    margin: 0;
}

#playList {
    background: linear-gradient(to right, rgba(50, 205, 50, 0.8), rgba(232, 67, 147, 0.8));
    border-radius: 10px;
    text-align: left;
    color: #32CD32;
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-image: url('rosadisney.jpeg');
    background-size: cover;
    background-position: center;
    border: 2px solid #39ff14;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

li {
    padding: 10px;
}

li:hover, svg:hover {
    cursor: pointer;
    color: #32CD32;
}

li.active {
    color: #32CD32;
}

#controls {
    border: 1px solid #32CD32;
    border-radius: 10px;
    padding: 10px;
    background-color: #32CD32;
    opacity: 0.8;
}

svg {
    color: #32CD32;
}

progress {
    width: 80%;
    margin: 10px;
    opacity: 0.5;
    color: #32CD32;
}

.timer {
    width: 50%;
    text-align: left;
    display: inline-block;
    color: #32CD32;
}

.volumen {
    width: 50%;
    text-align: right;
    display: inline-block;
    color: #32CD32;
    margin-bottom: 20px;
}

#currentPlay {
    color: #32CD32;
}

h3 {
    color: #32CD32;
    margin: 0px;
}

@media (max-width: 768px) {
    body {
        font-size: 1em;
        padding: 10px;
    }

    #playList {
        width: 90%;
        padding: 10px;
    }

    .timer, .volumen {
        width: 100%;
        text-align: center;
        display: block;
    }

    progress {
        width: 100%;
    }
}
