@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    /* Fondo con imagen y gradiente de color */
    background: linear-gradient(to right, #32CD32, #e84393), url('rosaneon2.jfif') fixed;
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-blend-mode: overlay; /* Fusiona el gradiente con la imagen */
    min-height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center center;

    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    width: 50%;
    margin: 15px auto;
    padding: 20px;
    text-align: center;
    min-height: 50vh;

    /* Color del texto */
    color: #32CD32; /* Verde lima */
}

#playList {
    /* Fondo verde lima fusionado con rosa, semi-transparente */
    background: linear-gradient(to right, rgba(50, 205, 50, 0.8), rgba(232, 67, 147, 0.8));
    border-radius: 10px;
    text-align: left;
    color: #e84393;
     /* Imagen de fondo */
    background-image: url('rosadisney.jpeg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;


    /* Borde de neón verde */
    border: 2px solid #39ff14; /* Color del borde */
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14; /* Efecto de neón */
}


	

 li{
	padding: 10px;
}
li:hover, svg:hover {
	cursor: pointer;
	color: #e84393;
}
li.active{
	color: #6c5ce7;
}
#controls{
	border: 1px #39ff14 solid;
	border-radius: 10px;
	padding: 10px;
	background color: rgb(243, 8, 231);
	opacity: 0.8
}

svg{
	color: rgb(243, 8, 231);
}

progress{
	width: 80%;
	margin: 10px;
	opacity: 0.5;

}

.timer{
	width:50%;
	position: relative;
	top:10px;
	left:0px;
	text-align:left;
	float:left;
	color: #39ff14;;
}
.volumen{
	width:50%;
	position: relative;
	top:10px;
	right:0px;
	text-align:right;
	float:left;
	color: #6c5ce7;
	margin-bottom:20px;
}
#currentPlay{
	color: rgb(243, 8, 231);
}
h3{
	color: #32CD32;
	margin:0px;
}
